body {
    /*background-color: rgb(15, 15, 15);*/
    background: linear-gradient(to top, rgb(15, 15, 15), rgb(35, 35, 35));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: "consolas", sans-serif;
}



.fa-user{
    color: darkviolet;
    position:relative;
    left: 0px;
}

#input1 {
    border-style: outset;
    display: inline-block;

    border-color: darkviolet;
    border-width: 3px;
    border-radius: 5px;

    background-color: rgb(15, 15, 15);
}



.logo {
    font-family: "Josefin Sans";
    font-size: 55px;
    color: darkviolet;
    text-decoration: none;
    font-weight: 700;
}

.navigation {
    display: flex; /* Use flex display to align items horizontally */
    align-items: center;
}

ul {
    list-style: none;
    display: flex; /* Use flex display for the list to align items horizontally */
    margin: 0;
    padding: 0;
    margin-left: 320px;
}

ul li {
    margin: 0 40px; /* Adjust the spacing between list items */
    position: relative;
}

ul li a {
    text-decoration: none;
    color: darkviolet; /* Adjust the color of the links */
    font-weight: 500; /* Adjust the font weight of the links */
    font-size: 30px;
    font-family: "consolas";
    text-transform: uppercase;
}

ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: darkviolet;
    position: absolute;
    bottom: -5px;
    left: 50px;
    transition: all ease 0.55s;
}

ul li a:hover::after {
    width: 100%;
}

.logo2 {
    color: darkviolet;
    position: relative;
}

.maincontent {
    position: absolute;
    width: 100%;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
}

.maincontent p {
    font-family: "consolas";
    color: darkviolet;
    line-height: 25px;
    margin: 20px auto;
    font-weight: 900;
    font-size: 20px;
    word-wrap: break-word;
    width: 600px;
}

.maincontent h1 {
    font-family: "Josefin Sans";
    font-size: 50px;
    color: darkviolet;
}

hr {
    color: darkviolet;
    background-color: darkviolet;
    height: 3px;
    border: none;
    position: relative;
    top: 600px;
}